@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav{
    width: 100%;
}

#stronaglowna
{
    flex: 1;
}

.navbar{
    padding: 0 150px;
}

.szczegolowe-wysz
{
    width: 75%;
}


.pierwszy-div
{
    margin-right: 30px;
}

@media (max-width: 638px) {
    .navbar{
        padding: 0;
    }
}

@media (min-width: 300px){
    .szczegolowe-wysz
    {
        text-align: center;   
    }         

    .wyszukiwanie
    {      
        padding-top: 20px;
        padding-bottom: 20px;
    }               
}


@media (max-width: 768px){       
    .wyszukiwanie
    {
        margin-left: 10px;
        margin-right: 10px
    }       

    .marginChange
    {
        text-align: center;
    }          
       
}

@media (max-width: 425px){ 
    .LogowanieMainDiv
    {
        width: 90% !important;
        margin: 0 auto;
    }

    .RejestracjaMainDiv
    {
        width: 90% !important;
        margin: 0 auto;
    }

}
@media (max-width: 375px){              
    .pierwszySzczegol
    {
       margin-right: 60px !important;
    }   
}

.ogloszenie
{
    border:  solid 2px;
    background-color: #222222;  
}

.g-recaptcha
{
    
}

.logoOgloszenia
{
    width: 95px;
    height: 70px;
    margin-top: 5px;
}

.logoSzczegolyOgloszenia
{
    width: 100px;
    height: 75px;
    margin-top: 20px;    
}

.SzczegolyIcon
{
    border:  2px solid;
    background-color: white;
    padding: 2px;
    width: 50px;
    height: 50px;
}

.ObowiazekIcon
{
    width: 25px;
    height: 25px;
}

.Profilowe
{
    border-radius: 99px;
    background-color: white;
    border:  2px solid;
    height: 15vh;
    width: 15vh;        
}

.EditBtnProf
{   
    width: 100px;    
    height: 35px;
}

.UlubionyKolor
{
    background-color: #222222;
}

.LogowanieTlo
{
    background-image: url(Images/forest.jpg);
}

.LogowanieMainDiv
{
    box-shadow: 0 21px 21px 0 rgba(0, 0, 0, 0.2), 0 25px 40px 0 rgba(0, 0, 0, 0.19);
    height: 425px;    
    padding: 20px;
    width: 400px;
}

.RejestracjaMainDiv
{
    box-shadow: 0 21px 21px 0 rgba(0, 0, 0, 0.2), 0 25px 40px 0 rgba(0, 0, 0, 0.19);
    height: 525px;    
    padding: 20px;
    width: 400px;
}

.LogowanieInput
{
    height: 35px;
    text-indent: 10px;
}


