@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*
{
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav{
    width: 100%;
}

#stronaglowna
{
    flex: 1;
}

.navbar{
    padding: 0 150px;
}

@media (max-width: 638px) {
    .navbar{
        padding: 0;
    }
}